*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-título {
    background-image: aqua;
    font-size: 48px
}

.cabecalho-lista {
    color: beige;
    font-size: 24px;
}

.cabecalho-lista-item1 {
    display: inline-block;
    margin: 0 16px;
}
.cabecalho-imagem {
    width: 10%;
    align-items: center
}

.apresentação-imagem {
    width: 10%;
    align-items: center
}

.cabealho {
    background-color: black;
}

.cabecalho-lista-item2 {
    display: inline-block;
    margin: 0 16px;

    .Histórico {
        background-image: linear-gradient(#424E61,#16CFF8);
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;
        }

        .Histórico {
            color: darkblue;
            display: flex;
        }     
        
        .escola-div-conteudo{
            width: 35%;
        }