.cabeçalho {
    background-color: #3c14cc;
    display: flex;
    padding: 24px 0;
    justify-content: space-around;
    align-items: center;
}

.cabeçalho-título {
    background-image: aqua;
    font-size: 48px
}

.cabeçalho-lista {
    color: beige;
    font-size: 24px;
}

.cabeçalho-lista-item1 {
    display: inline-block;
    margin: 0 16px;
}
.cabeçalho-imagem {
    width: 10%;
    align-items: center
}

.apresentação-imagem {
    width: 10%;
    align-items: center
}

.cabeçalho {
    background-color: black;
}

.cabeçalho-lista-item2 {
    display: inline-block;
    margin: 0 16px;

    .Histórico {
        background-color: antiquewhite;
                display: flex;
                justify-content: center;
        }

        .Histórico {
            color: darkblue;
            display: flex;
        }     